<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
</head>
<body>
<form action="/login" method="post">
    <span>Email</span><input type="text" name="id" size="12">
    <span>Password</span><input type="password" name="pwd" size="12">
    <input type="submit" value="Login"><input type="button" value="Join" onclick="/JoinForm">
</form>
</body>
</html>