<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<title>File Explorer</title>


	<!-- Include our stylesheet -->
	<link href="/stylesheets/styles.css" rel="stylesheet"/>
    <link href="/stylesheets/jquery.contextmenu.css" rel="stylesheet"/>
    <style type="text/css">
        html{
            height: 100%;
        }
        body{
            background: linear-gradient( 155deg, rgb(35,35,46), transparent );
            /*position:absolute; top:0; bottom:0; right:0; left:0;
            background-image: url("/images/roompage.png"); background-size:100% 100%;
            background-color: transparent;*/
        }
    </style>
</head>
<body id="body">
<div style="margin-left:90%;" class="upload">
    <form id="uploadForm"
          enctype="multipart/form-data"
          action="/api/upload"
          method="post">
        <input type="file" id="userFileInput" name="userFile" style="visibility:hidden" />
        <div id="fileclick"><img style="cursor:pointer;" src="/images/upload.png" width="70" height="70"></div>
    </form>
    <span id="status"></span>


    <div id="progress">
        <span style="color:white;" id="percent">0%</span>

        <div id="bar"></div>
    </div>
</div>

	<div style="margin-top:0px;" class="filemanager" id="filemanager">

		<div class="search">
			<input type="search" placeholder="Find a file.." />
		</div>

		<div class="breadcrumbs"></div>

		<ul class="data"></ul>

		<div class="nothingfound">
			<div class="nofiles"></div>
			<span>No files here.</span>
		</div>
	</div>


	<!-- Include our script files -->
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/javascripts/upload.js"></script>
    <script src="/javascripts/script.js"></script>
    <script src="/javascripts/jquery.contextmenu.js"></script>
    <script src="/javascripts/jquery.event.drag-2.2.js"></script>
    <script src="/javascripts/jquery.event.drop-2.2.js"></script>
<script>
    $(this)
            .bind('mouseup',function(){
                $('.files').css('opacity',1);
                return $( '.folders' ).css('opacity',1);
            });
    $('#fileclick').bind('click',function(){
       $('#userFileInput').click();
    });
</script>
</body>
</html>