<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" language="javascript" src="/javascripts/jquery-2.1.3.min.js"></script>
    <script>
        var check_email = 0;
        var socket;
        $(document).ready(function(){

            socket = io.connect();
            var $form = $('#form');
        });
        function emailcheck () {
            var email_v = document.getElementById('email');
            socket.emit('emailcheck', email_v.value);
            socket.on('emailcheck_back',function(data){
                if (data) {
                    check_email = 0;
                    $('#emailc').html('');
                } else {
                    check_email = 1;
                    $('#emailc').html('이미 가입된 이메일입니다!');
                }
            });
        }

        function form_check()
        {
            var form = document.frm;
            if(form.pw.value != form.pw_confirm.value)
            {
                alert("비밀번호가 서로 다릅니다.");
                form.pw_confirm.focus();
                return false;
            }
            if(check_email)
            {
                alert("이미 가입된 이메일입니다!");
                form.email.focus();
                return false;
            }
            alert('인증 메일을 발송했습니다');
            return true;
        }
        /*
        $form.submit(function() {
            var $email = document.getElementById('email').value;
            var $name = document.getElementById('name').value;
            var $pw = document.getElementById('pw').value;
            var $phone = document.getElementById('phone').value;
            var regist = {};
            regist['email'] = $email;
            regist['name'] = $name;
            regist['pw'] = $pw;
            regist['phone'] = $phone;
            socket.emit('regist', regist, function (data) {
                if (data) {
                    alert('We sent a verification email to '+$email +'.');
                    window.location = 'http://127.0.0.1:3000/';
                } else {
                    alert('Join, Fail!!');
                }
            });
        });
        */
    </script>
    <style type="text/css">
        html{
            height: 100%;
        }
        body{
            position:absolute; top:0; bottom:0; right:0; left:0;
            background-image: url("/images/roompage.png"); background-size:100% 100%;
        }
        #email{
            width:21%;
        }
        #name{
            width:21%;
        }
        #pw{
            width:21%;
        }
        #pw_confirm{
            width:21%;
        }
        #phone{
            width:21%;
        }
        #join{
            margin-left:69%;
            width:8%;
        }
        #reset{
            width:8%;
        }
        #joinform{
            margin-top:5%;
        }
        #logo{
            margin-top:6%;
            margin-left:6%;
            width:25%;
            height:20%;
        }
    </style>
</head>
<body>
<img src="/images/OPlogo.png" id="logo">
<form id="joinform" method="post" name="frm" class="form-horizontal">
    <fieldset>
        <div style="margin-bottom:0px">
            <label for="exampleInputEmailcheck" class="col-sm-8 control-label"></label>
            <span id="emailc" style="color:red;"></span>
        </div>
        <div style="margin-bottom:0px">
            <label for="exampleInputEmail1" class="col-sm-8 control-label">Email address</label>
            <input type="email" class="form-control" placeholder="Enter e-mail" name="email" id="email" size="25" maxlength="25" required="required" onblur="emailcheck()" ><br/></div>
        <div style="margin-bottom:0px">
            <label for="exampleInputName1" class="col-sm-8 control-label">Email name</label>
            <input type="text" class="form-control" placeholder="Enter name" name="name" id="name" size="25" required="required" pattern="^[a-zA-Z가-힣]{1,15}$"><br/></div>
        <div style="margin-bottom:0px">
            <label for="exampleInputPassword1" class="col-sm-8 control-label">Password</label>
            <input type="password" class="form-control" placeholder="Enter password" name="pw" id="pw" size="25" maxlength="15" required="required"><br/></div>
        <div style="margin-bottom:0px">
            <label for="exampleInputPassword2" class="col-sm-8 control-label">Confirm password</label>
            <input type="password" class="form-control" placeholder="Confirm password" name="pw_confirm" id="pw_confirm" size="25" maxlength="15" required="required"><br/></div>
        <div style="margin-bottom:0px">
            <label for="exampleInputPhone1" class="col-sm-8 control-label">Phone</label>
            <input type="tel" class="form-control" placeholder="Enter phone-N" name="phone" id="phone" size="25" required="required" pattern="\d{3}-\d{3,4}-\d{4}$"><br/></div>
    </fieldset>
    <input id="join" type="submit" class="btn btn-primary" value="Join" onclick="form_check()">&nbsp;&nbsp;<input id="reset" type="reset" class="btn btn-primary" value="Reset" required="required"></div>
</form>
</body>
</html>