<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){

            var w= screen.availWidth;
            var h= screen.availHeight;

            $('.form-group').css('width', w);

            var socket = io.connect();
            var $form = $('#form');
            function emailcheck () {
                var email_v = document.getElementById('email');
                socket.emit('emailcheck', email_v.value, function (data) {
                    if (data) {
                    } else {
                        alert("이미 가입된 이메일입니다.");
                        email_v.focus();
                    }
                });
            };
        });

        function form_check()
        {
            var form = document.frm;
            if(form.pw.value != form.pw_confirm.value)
            {
                alert("비밀번호가 서로 다릅니다.");
                form.pw_confirm.focus();
                return false;
            }
            return true;
        }
        /*
        $form.submit(function() {
            var $email = document.getElementById('email').value;
            var $name = document.getElementById('name').value;
            var $pw = document.getElementById('pw').value;
            var $phone = document.getElementById('phone').value;
            var regist = {};
            regist['email'] = $email;
            regist['name'] = $name;
            regist['pw'] = $pw;
            regist['phone'] = $phone;
            socket.emit('regist', regist, function (data) {
                if (data) {
                    alert('We sent a verification email to '+$email +'.');
                    window.location = 'http://127.0.0.1:3000/';
                } else {
                    alert('Join, Fail!!');
                }
            });
        });
        */
    </script>
    <style type="text/css">
        html{
            height: 100%;
        }
        body{
            position:absolute; top:0; bottom:0; right:0; left:0;
            background-image: url("/images/Main.png"); background-size:100% 100%;
        }
    </style>
</head>
<body>
<form method="post" name="frm" class="form-horizontal" style="margin-top:400px;">
    <fieldset>
        <div class="form-group" style="margin-bottom:0px">
            <label for="exampleInputEmail1" class="col-sm-8 control-label">Email address</label>
            <div class="col-lg-3">
            <input type="email" class="form-control" placeholder="Enter e-mail" name="email" id="email" size="25" maxlength="25" required="required" onblur="emailcheck()" ><br/></div>
        </div>
        <div class="form-group" style="margin-bottom:0px">
            <label for="exampleInputName1" class="col-sm-8 control-label">Email name</label>
            <div class="col-lg-3">
            <input type="text" class="form-control" placeholder="Enter name" name="name" id="name" size="25" required="required" pattern="^[a-zA-Z가-힣]{1,15}$"><br/></div>
        </div>
        <div class="form-group" style="margin-bottom:0px">
            <label for="exampleInputPassword1" class="col-sm-8 control-label">Password</label>
            <div class="col-lg-3">
            <input type="password" class="form-control" placeholder="Enter password" name="pw" id="pw" size="25" maxlength="15" required="required"><br/></div>
        </div>
        <div class="form-group" style="margin-bottom:0px">
            <label for="exampleInputPassword2" class="col-sm-8 control-label">Confirm password</label>
            <div class="col-lg-3">
            <input type="password" class="form-control" placeholder="Confirm password" name="pw_confirm" size="25" maxlength="15" required="required"><br/></div>
        </div>
        <div class="form-group" style="margin-bottom:0px">
            <label for="exampleInputPhone1" class="col-sm-8 control-label">Phone</label>
            <div class="col-lg-3">
            <input type="tel" class="form-control" placeholder="Enter phone-N" name="phone" id="phone" size="25" required="required" pattern="\d{3}-\d{3,4}-\d{4}$"><br/></div>
        </div>
    </fieldset>
    <div class="col-lg-8"></div>
    <div class="col-lg-3">
    <input type="submit" class="btn btn-success" value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Join&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" onclick="form_check()">&nbsp;&nbsp;<input type="reset" class="btn btn-success" value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Reset&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" required="required"></div>
    <div class="col-lg-1"></div>
</form>
</body>
</html>