<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
</head>
<body>
<form method="post">
    <span>Email</span><input type="email" name="email" id="email" size="25" maxlength="25" required="required"><br/>
    <span>Password</span><input type="password" name="pw" size="25" maxlength="15" required="required"><br/>
    <input type="submit" value="Login"><input type="button" value="Join" onclick="location.href='/login/join'">
</form>
</body>
</html>