<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <style>
        body {
            font-size:0.6em;
        }
        div{
            margin:5px 0px;
        }
    </style>
</head>
<style type="text/css">
    html{
        height: 100%;
    }
    body{
        background: linear-gradient( 155deg, rgb(35,35,46), transparent );
        /*position:absolute; top:0; bottom:0; right:0; left:0;
        background-image: url("/images/roompage.png"); background-size:100% 100%;
        background-color: transparent;*/
    }
</style>
<body>
<%
if (check)
{
    for(var i=0;i<log.length;++i)
    {
%>
<div style="margin:1px; padding:4px; font-size:15px; border:solid 3px">
    <%=log[i].date%><br/>
    <%=log[i].name%>님이 <%=log[i].content%>
</div>
<%
    }
} else {
%>
<div>
    데이터 없음
</div>
<% }%>
</body>
</html>