<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <style>
        body {
            font-size:0.6em;
        }
        div{
            margin:5px 0px;
        }
    </style>
</head>
<body>
<%
if (check)
{
    for(var i=0;i<log.length;++i)
    {
%>
<div style="margin:10px; font-size:20px; border:solid 3px">
    <%=log[i].date%><br/>
    <%=log[i].name%>님이 <%=log[i].content%>
</div>
<%
    }
} else {
%>
<div>
    데이터 없음
</div>
<% }%>
</body>
</html>