<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <style type="text/css">
        html{
            height: 100%;
        }
        body{
            /*position:absolute; top:0; bottom:0; right:0; left:0;
            background-image: url("/images/roompage.png"); background-size:100% 100%;
            background-color: transparent;*/
        }
        div{
            cursor:pointer;
            background-color: black;
            margin:4px; padding:4px; font-size:15px; border:3px solid #000000;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
        }
        code {
            font-family: "Source Code Pro", Consolas, Menlo, Monaco, "Courier New", monospace;
            font-size: 0.8em;
            color: #ffffff;
        }
    </style>
</head>
<body>
<%
if (check)
{
    for(var i=0;i<log.length;++i)
    {
%>
<div><code>
    <%=log[i].date%><br/>
    <%=log[i].name%>님이 <%=log[i].content%></code>
</div>
<%
    }
} else {
%>
<div>
    데이터 없음
</div>
<% }%>
</body>
</html>