<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>D2I, for Your Health</title>
    <style type="text/css">
        body {
            margin: 0px;
            padding: 0px;
            background-color: rgba(69,91,113,1);
        }
        a{
            text-decoration:none;
            color:white;
        }
        #topMenu {
            display: table-cell;
            vertical-align:middle;
            height: 30px;  /* 메인 메뉴의 높이 */
            width: 30px;  /* 메인 메뉴의 넓이 */
        }
        #fixed-menu {
            width: 100%;
            background-color: rgba(50,60,62,1);
            position: fixed;
            top: 0px;
            left: 0px;
            display:table-row;
        }
        #d2ilogo {
            display:table-cell;
        }
        #logo {
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left:70px;
        }
        #left-info {
            display: table-cell;
            vertical-align:middle;
        }
        #identity {
            display: table-cell;
            vertical-align: middle;
        }

        .etc {
            display: table-cell;
            cursor: pointer;
            vertical-align: middle;
            padding-right: 20px;
            color: white;
        }
        .sub:hover {
            color:rgba(0,159,155,1);
        }

        #main-content {
            width: 100%;
        }
        #main {
            width: 100%;
            margin-top:60px;
            height:400px;
        }

        html {
            height: 100%;
        }

        .n_list {
            /*transform-style:preserve-3d;*/
            display: table-row, block;
            vertical-align:middle;
            margin-bottom:30px;
            text-align:center;
            margin-left:auto;
            margin-right:auto;
        }
        .n_plat {
            width: 20%;
            padding-left:10px;
            display: table-cell;
            vertical-align: middle;
            transition-duration: 0.5s;
            backface-visibility: hidden;
            /*transform-style: preserve-3d;*/
        }
        .n_plat:hover {
            transform: scale(1.2,1.2) translateZ(50px);
        }
        .n_plat img {
            max-width:100%;
        }
        .n_plat img:hover {
            outline: 3px solid rgba(0,159,155,1);
        }
    </style>
</head>
<body>
<div id="fixed-menu">
    <div id="d2ilogo"><a href="MainPage.html"><img style="cursor:pointer;" id="logo" src="d2iLOGO.png" width="80" height="40"/></a></div>

    <div style="display:table-cell; vertical-align:middle; padding-right:10px; padding-left:60px;"><img src="/images/user_Icon.png" width="40" height="40"/></div>
    <div style="display: table-cell; vertical-align:middle; padding-right:10px; color:white;"><%=s_name%></div>
    <div style="display: table-cell; vertical-align:middle; padding-right:10px; color:white;"><%=s_email%></div>
    <div style="float:right; position:absolute; right:10px; top:20px; z-index:10;" id="left-info">
        <div class="etc"><a class="sub" href="Redflag.html">회사소개</a></div>
        <div class="etc"><a class="sub" href="Redflag.html">1:1문의</a></div>
        <div class="etc"><a class="sub" href="FAQ.html">FAQ</a></div>
        <div class="etc">  </div></div></div>
<div id="main-content">
    <img id="main" src="/images/mainMoon.png"/></div>
<h1 style="color:rgba(0,159,155,1); font-size:80px; text-align:center; margin:0">Room</h1>
<div style="display:block; margin-left:10%; margin-right:10%;">
    <div class="n_list">
        <div id="room0" class="n_plat"><img class="platform" src="http://placehold.it/300x200" /><button id="crtbtn0" style="margin-top:10px; width:100px; height:40px;">Create</button></div>
        <div id="room1" class="n_plat"><img class="platform" src="http://placehold.it/300x200" /><button id="crtbtn1" style="margin-top:10px; width:100px; height:40px;">Create</button></div>
        <div id="room2" class="n_plat"><img class="platform" src="http://placehold.it/300x200" /><button id="crtbtn2" style="margin-top:10px; width:100px; height:40px;">Create</button></div>
        <div id="room3" class="n_plat"><img class="platform" src="http://placehold.it/300x200" /><button id="crtbtn3" style="margin-top:10px; width:100px; height:40px;">Create</button></div>
        <div id="room4" class="n_plat"><img class="platform" src="http://placehold.it/300x200" /><button id="crtbtn4" style="margin-top:10px; width:100px; height:40px;">Create</button></div>
    </div>
</div>
</body>
<script>
    var i = '<%=v_totalroom%>';
    for (var ti = 0 ; ti < 5 ; ti++){
        var t = document.getElementById('crtbtn'+ti);
        var td = document.getElementById('room'+ti);
        console.log(t);
        if (ti==i){

        }else if (ti>i) {
            td.style.display='none';
            t.style.visibility = 'hidden';
        }else{
            t.innerHTML = 'Join';
        }
    }
</script>
</html>