<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        .img_src {
            display:table-row;
        }
        .aa {
            display:table-cell;
            width:500px;
        }
        .manual_img {
            margin-left:50px;
            border-radius:15px;
            width:400px;
        }
    </style>
</head>
<body>
<div class="img_src">
    <fieldset style="border-radius:10px;">
        <legend>1. 로그인</legend>
        <div class="aa"><img class="manual_img" src="/images/1_1.png" /></div>
        <div class="aa"><p style="margin:auto;">로그인을 합니다.</p></div>
        <hr />
        <div class="img_src">
            <div class="aa"><img class="manual_img" src="/images/1_2.png" /></div>
            <div class="aa"><p style="margin:auto;">아이디 없으면 회원가입이나 쳐해</p></div>
        </div>
    </fieldset>
</div>
<div class="img_src">
    <fieldset style="border-radius:10px;">
        <legend>2. 프로젝트 생성</legend>
        <div class="aa"><img class="manual_img" src="/images/19_1.png" /></div>
        <div class="aa"><p style="margin:auto;">생성버튼 쳐눌러</p></div>
        <hr />
        <div class="img_src">
            <div class="aa"><img class="manual_img" src="/images/2.png" /></div>
            <div class="aa"><p style="margin:auto;">과제이름이랑 팀원 수 쳐넣어</p></div>
        </div>
        <hr />
        <div class="img_src">
            <div class="aa"><img class="manual_img" src="/images/19.png" /></div>
            <div class="aa"><p style="margin:auto;">만들어진거 확인해라</p></div>
        </div>
    </fieldset>
</div>
<div class="img_src">
    <fieldset style="border-radius:10px;">
        <legend>3. 프로젝트 룸 - File System</legend>
        <div class="aa"><img class="manual_img" src="/images/4.png" /></div>
        <div class="aa"><p style="margin:auto;">파일 올리고 싶냐?</p></div>
        <hr />
        <div class="img_src">
            <div class="aa"><img class="manual_img" src="/images/upload-1.png" /></div>
            <div class="aa"><p style="margin:auto;">파일 골라 ㅅㅂ</p></div>
        </div>
        <hr />
        <div class="img_src">
            <div class="aa"><img class="manual_img" src="/images/6.png" /></div>
            <div class="aa"><p style="margin:auto;">올라간거 보이냐?</p></div>
        </div>
    </fieldset>
</div>
<div class="img_src">
    <fieldset style="border-radius:10px;">
        <legend>3. 프로젝트 룸 - Invite System</legend>
        <div class="aa"><img class="manual_img" src="/images/7-1.png" /></div>
        <div class="aa"><p style="margin:auto;">초대버튼 쳐 눌러</p></div>
        <hr />
        <div class="img_src">
            <div class="aa"><img class="manual_img" src="/images/8.png" /></div>
            <div class="aa"><p style="margin:auto;">초대 이메일 쳐 쓰면 상대가 승낙하면 알아서 초대된거다.</p></div>
        </div>
    </fieldset>
</div>
<div class="img_src">
    <fieldset style="border-radius:10px;">
        <legend>3. 프로젝트 룸 - Plan System</legend>
        <div class="aa"><img class="manual_img" src="/images/9.png" /></div>
        <div class="aa"><p style="margin:auto;">플랜버튼 누릅시다</p></div>
        <hr />
        <div class="img_src">
            <div class="aa"><img class="manual_img" src="/images/10.png" /></div>
            <div class="aa"><p style="margin:auto;">플랜 버튼 쳐 눌러라.</p></div>
        </div>
        <hr />
        <div class="img_src">
            <div class="aa"><img class="manual_img" src="/images/11.png" /></div>
            <div class="aa"><p style="margin:auto;">기한이랑 잡 수 입력하시오.</p></div>
        </div>
        <hr />
        <div class="img_src">
            <div class="aa"><img class="manual_img" src="/images/12.png" /></div>
            <div class="aa"><p style="margin:auto;">관리자는 전체적인 잡배분을 할 수 있다.</p></div>
        </div>
        <hr />
        <div class="img_src">
            <div class="aa"><img class="manual_img" src="/images/13.png" /></div>
            <div class="aa"><p style="margin:auto;">팀원은 프로그래스 버튼을 통해 자신의 일에 대한 마킹과 전체 일정 확인이 가능하다.</p></div>
        </div>
    </fieldset>
</div>
<div class="img_src">
    <fieldset style="border-radius:10px;">
        <legend>3. 프로젝트 룸 - Invite System</legend>
        <div class="aa"><img class="manual_img" src="/images/14.png" /></div>
        <div class="aa"><p style="margin:auto;">비디오 버튼 쳐 눌러.</p></div>
        <hr />
        <div class="img_src">
            <div class="aa"><img class="manual_img" src="/images/15.png" /></div>
            <div class="aa"><p style="margin:auto;">캔버스에 낙서하고 채팅하고 서로 얼굴보면서 얘기해라 ㅇㅋ??</p></div>
        </div>
    </fieldset>
</div>
</body>
</html>