<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <script>
        function plan_check()
        {
            var one = document.getElementById('s_date').value;
            var two = document.getElementById('e_date').value;
            if(one >= two)
            {
                alert("프로젝트 진행 날짜를 확인해주세요.");
                return false;
            }
            //alert("okay");
            return true;
        }
    </script>
</head>
<body>
<% if (exist) {%>
exist
<% } else {%>
<form method="post" name="p">
    Start  <input type="date" name="s_date" id="s_date" required="required"> End <input type="date" name="e_date" id="e_date" required="required"><br/>
    Job(max:15)  <input type="number" name="job" id="job" value="5" min="1" max="15"><br/>
    <input type="submit" value="Plan" onclick="return plan_check();">
</form>
<% }%>
</body>
</html>