<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>teamRoom!</title>
    <style type="text/css">
        html{
            height: 100%;
        }
        body{
            position:absolute; top:0; bottom:0; right:0; left:0;
            background-image: url("/images/Main.png"); background-size:100% 100%;
        }
        iframe {
            border-top: #c00 1px dotted;
            border-right: #c00 2px dotted;
            border-left: #c00 2px dotted;
            border-bottom: #c00 4px dotted;
            margin-top: 20px;
            margin-bottom: 30px;

            -moz-border-radius: 12px;
            -webkit-border-radius: 12px;
            border-radius: 12px;

            -moz-box-shadow: 4px 4px 14px #000;
            -webkit-box-shadow: 4px 4px 14px #000;
            box-shadow: 4px 4px 14px #000;
            
            filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=.2);
        }
    </style>
</head>
<body background="Main.jpg">
    <div>
        <input type="button" value="Video Conference" onclick="movePage()"/>
    </div>

    <iframe name="fexp" src="http://localhost:3000/file" scrolling="no" frameborder="0" height="800" width="1500"></iframe>
    <script type="text/javascript">
        function movePage(){
            location.href = "video/canvas/1";
        }
    </script>
</body>
</html>