<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>teamRoom!</title>
    <style type="text/css">
        html{
            height: 100%;
        }
        body{
            position:absolute; top:0; bottom:0; right:0; left:0;
            background-image: url("/images/Main.png"); background-size:100% 100%;
        }
    </style>
</head>
<body background="Main.jpg">
    <div>
        <input type="button" value="Video Conference" onclick="movePage()"/>
    </div>

    <iframe src="http://210.118.74.149:3000/file" scrolling="no" frameborder="0" height="800" width="1500"></iframe>
    <script type="text/javascript">
        function movePage(){
            location.href = "video/canvas/1";
        }
    </script>
</body>
</html>